<% provide(:workMenu, 'selected') %>
<% provide(:title, 'WonderEight: A Global Branding and Interactive Agency') %>
<% provide(:summary, 'We are a Beirut based design agency working for international and local companies who like to challenge their customers and want to be different and daring') %>
<% provide(:image, 'eroom-photo.jpg') %>

<style type="text/css">
  div#gulfood{
    display: none;
    width: 40%;
    -moz-box-shadow: 0 0 25px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.8);
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
  }

  div#gulfood img{
    width: 100%;
    height: auto;
  }

  div#gulfood a{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    display: block;
  }
  .bModal{
    /*background: #000 url(images/dialog-mask.png) top center no-repeat;*/
  }
</style>

<section id="home" class="page">
  <ul id="portfolio">

    <% if @works.any? %>
      <% if @works.count < 8 %>
        <h2>Uploading projects soon ;-)</h2>
      <% end %>

      <% @works.each_with_index do |work, index| %>

        <li class="<%= work.category %>">
          <div>
            <a href="/work/<%= work.title.parameterize %>/<%= work.id %>"
               data-image="<%= work.photo_over.url(:default) %>">
              <section>
                <%= image_tag work.photo.url(:default), alt: work.title %>
                <p><span><%= work.caption.html_safe %></span></p>
              </section>
            </a>
          </div>
        </li>

        <% if index == 5 %>
          <li id="showcase">
            <div>
              <h2>Download our showcases</h2>

              <ul>
                <li><a target="_blank" href="/showcase/branding/W8_Branding_Showcase.pdf">Branding.pdf</a></li>
                <li><a target="_blank" href="/showcase/websites/W8_Web_Showcase.pdf">Restaurants.pdf</a></li>
                <li><a target="_blank" href="/showcase/restaurants/W8_Restaurant_Showcase.pdf">Websites.pdf</a></li>
                <li><a target="_blank" href="/showcase/packaging/W8_Packaging_Showcase.pdf">illustrations.pdf</a></li>
                <li class="last"><a target="_blank" href="/showcase/packaging/W8_Packaging_Showcase.pdf">Packaging.pdf</a></li>
              </ul>
              <section class="clear"></section>
            </div>
          </li>
        <% end %>

      <% end %>
    <% else %>
      <h2>Uploading projects soon ;-)</h2>
    <% end %>
  </ul>
  <div class="imgloader">
    <% @works.each do |work| %>
      <%= image_tag "/assets/"+work.photo_over.url(:default), alt: "" %>
    <% end %>
  </div>
  <div class="clear"></div>
</section>
