<% provide(:workMenu, 'selected') %>
<% provide(:title, @work.title+' '+@work.task+' - WonderEight') %>
<% provide(:summary, strip_tags(@work.description)) %>
<% provide(:image, request.protocol+request.host_with_port+image_path(@work.photo_main.url("default"))) %>

<section id="work" class="page">

  <figure>
    <div class="col">
      <span><%= image_tag @work.photo_main.url("default"), alt: strip_tags(@work.caption) %></span>
    </div>

    <% if @work.workgalleries.any? %>

      <% @work.workgalleries.each do |gallery| %>
        <div class="col-2">
          <span>
            <%= image_tag gallery.photo.url(:default), alt: gallery.title %>
          </span>
        </div>
      <% end %>

    <% end %>
    <?php //for($i=2; $i<=$filecount; $i++): ?>
     <!--  <div class="col-2">
        <span><img src="<?php echo $imagePath; ?>/img-<?php echo $i ?>.jpg" alt=""></span>
      </div> -->
    <?php //endfor; ?>
    <div class="clear"></div>
  </figure>

  <section class="info">
    <div class="col-2">
      <span>
        <h3><%= @work.title %></h3>
        <%= @work.description.html_safe %>
        <% if !@work.website.blank? %>
          <p><%= link_to @work.website, @work.website, target: "_blank" %></p>
        <% end %>
      </span>
    </div>
    <div class="col-1">
      <span>
        <ul>
          <li><strong>CLIENT</strong>  <%= @work.client %></li>
          <li><strong>TASK</strong>  <%= @work.task %></li>
          <li><strong>REGION</strong>  <%= @work.region %></li>
          <li><strong>CREATED</strong>  <%= @work.created %></li>
        </ul>
      </span>
    </div>
    <div class="col-1">
      <div class="btn"><%= link_to "Back to #{@work.category}", "/works/#{@work.category}" %></div>
      <%= render "layouts/socials", title: @work.title + ' by WonderEight', summary: strip_tags(@work.description) %>
    </div>
    <div class="clear"></div>
  </section>

  <div class="clear"></div>
</section>

