
<section id="about" class="page">

  <div class="col-2 first">
    <section class="intro">
        <div id="slider">
          <a><%= image_tag('about-main.jpg', alt: "") %></a>
          <a><%= image_tag('w8-team.jpg', alt: "") %></a>
        </div>
    </section>

    <section id="process">
      <h2>ABOUT WONDEREIGHT</h2>
      <p>
        We are a Beirut based design agency, working for international and local
        companies who like to challenge their customers and want to be different
        and daring. Benefiting from our cultural diversity, we innovate in the fields
        of branding and visual communication. Our strategic location in the gate of
        the Middle East allows us to bridge between western and eastern brands and to
        create concepts that work in their environment while introducing new ways of
        co-creation.
      </p>
      <p>
        Founded in 1999 by Nasrala brothers Boudy and Walid, today, with Karim Abourizk
        also on board it gathers a handful of highly skilled creative designers, web
        developers and marketing strategists who enjoy a bespoke work environment, made
        to inspire and interact with the local design and art community. This creative
        space regroups a design agency, a prototyping workshop, a facility for trainings
        and talks, a handpicked book library and an art exhibition space.
      </p>
      <p>
        This multifaceted environment keeps on renewing itself and creates a constant
        synergy between us, our clients, and the public.
      </p>

      <hr>
    </section>

    <section id="recipe">
      <hgroup>
        <h2>WHAT WE DO</h2>
      </hgroup>
      <p>
        Our practices range from brand creation, to visual identity design, brochures,
        posters, packaging, stands, signage, graphic decoration, communications, above
        &amp; below the line campaigns, marketing strategy, online and ambient media
        buying, copywriting, creative copy and design consultancy. We also design and
        develop websites and interactive solutions, advanced UX, Apps, animation and
        game design. We specialize as well in Illustration and character creation.
      </p>

    </section>


  </div>

  <div class="col-2 last">

    <section class="map" id="map">
      <%= image_tag "map.jpg", alt: "Wonder Eight map location", width: "100%", height: "100%" %>
      <hr>
    </section>

    <section id="contact">
      <address class="bold">
        WonderEight &copy; 1999-2013 <br>
        W8 Building, Jisr El Bacha <br>
        Beirut - Lebanon
      </address>
      <address>
        <ul>
          <li><%= image_tag "icons/mailbox.png", alt: "" %> P.O. Box 2701-1411</li>
          <li><%= image_tag "icons/mobile.png", alt: "" %> +961 1 494 331</li>
          <li><%= image_tag "icons/email.png", alt: "" %> info@wondereight.com</li>
        </ul>
      </address>
      <div class="clear"></div>
    </section>

    <section id="workshop">
      <hr>
      <%=
        link_to("http://www.workshop-gallery.com/", target: "_blank", style: "display:block") do
      %>
        <%=
          image_tag "workshop-logo.gif",
            alt: "Wondereight Workshop logo",
            align: "left",
            width: "154",
            height: "99",
            style: "width: auto; margin-right: 40px"
        %>
        <h2 style="margin-top:0">WORKSHOP GALLERY </h2>
        <p>
          <%= link_to "Workshop gallery", "http://workshop-gallery.com/", target: "_blank" %> is a new
          independent exhibition space for contemporary art, hosted within our premises
          to complete the building’s gestalt.
        </p>
        <p style="margin-left:195px;">
          From its modest 14.3 sqm, it puts the emergent Lebanese and international artists
          under the spot light, in a mission to encourage the diversity and experimentation
          of art in the region.
        </p>
      <% end %>
    </section>
  </div>

  <div class="col">
    <section id="team">
      <hr>

      <h2>THE TEAM</h2>
      <ul>
        <li>
          <%= image_tag "team/Boudy_Nasrala.jpg", alt: "" %>
          <h5>Boudy Nasrala</h5>
          <p>Managing Partner</p>
        </li>
        <li>
          <%= image_tag "team/Walid_Nasrala.jpg", alt: "" %>
          <h5>Walid Nasrala</h5>
          <p>Creative Director</p>
        </li>
        <li>
          <%= image_tag "team/Karim_AbouRizk.jpg", alt: "" %>
          <h5>Karim AbouRizk</h5>
          <p>Designer / Brand Consultant</p>
        </li>
        <li>
          <%= image_tag "team/Nisreen_Sarkis.jpg", alt: "" %>
          <h5>Nisreen Sarkis</h5>
          <p>Designer / Branding Specialist</p>
        </li>
        <li>
          <%= image_tag "team/Lea_Heshme.jpg", alt: "" %>
          <h5>Lea Heshme</h5>
          <p>Designer / Branding Specialist</p>
        </li>
        <li>
          <%= image_tag "team/Hiba_Moujabber.jpg", alt: "" %>
          <h5>Hiba Moujabber</h5>
          <p>Digital UX/UI Designer</p>
        </li>
        <li>
          <%= image_tag "team/Noor_Aghar.jpg", alt: "" %>
          <h5>Noor Aghar</h5>
          <p>Graphic Designer</p>
        </li>
        <li>
          <%= image_tag "team/Maher_Bayoumi.jpg", alt: "" %>
          <h5>Maher Bayoumi</h5>
          <p>Graphic Designer</p>
        </li>
        <li>
          <%= image_tag "team/Salim_Dirani.jpg", alt: "" %>
          <h5>Salim Dirani</h5>
          <p>Web Developer</p>
        </li>
        <li>
          <%= image_tag "team/Cynthia_Farhan.jpg", alt: "" %>
          <h5>Cynthia Farhan</h5>
          <p>Media Specialist</p>
        </li>
        <li>
          <%= image_tag "team/John_Fayad.jpg", alt: "" %>
          <h5>John Fayad</h5>
          <p>Senior Web Developer</p>
        </li>
        <li>
          <%= image_tag "team/Lama_BouGhannam.jpg", alt: "" %>
          <h5>Lama BouGhannam</h5>
          <p>Senior Web Designer</p>
        </li>
        <li>
          <%= image_tag "team/Yasmine_Zalek.jpg", alt: "" %>
          <h5>Yasmine Zalek</h5>
          <p>Project Manager / Brand Strategist</p>
        </li>
        <li>
          <%= image_tag "team/Suzanne_Sayegh.jpg", alt: "" %>
          <h5>Suzanne Sayegh</h5>
          <p>PR Manager</p>
        </li>
        <li>
          <%= image_tag "team/Mireille_Chamoun.jpg", alt: "" %>
          <h5>Mireille Chamoun</h5>
          <p>Administrative Assistant</p>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-2 last">
    &nbsp;
  </div>

  <div class="col last">
    <section id="partners">
      <hr>
      <h2>OUR KEY PARTNERS</h2>
      <ul>
        <li class="box">
          <div>
            <h5>Brand Consultancy</h5>
            <p><a href="http://miradamadrid.com/">Mirada Madrid</a></p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Media</h5>
            <p>
              <a href="http://www.pikasso.com/">Pikasso</a>,
              <a href="http://facebook.com">Facebook</a>,
              <a href="http://tripadvisor.com">Tripadvisor</a>,
              <a href="http://www.hospitalitynewsmag.com">HospitalityNews</a>,
              <a href="http://www.digitalits.com/">DigitalITs</a>
              <a href="http://www.beabloo.com/">Beabloo</a> <br>

              We have identified Key media channels that best fit strategic audiences.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Printing &amp; Packaging</h5>
            <p>

                <a href="mailto:sgraphtec@hotmail.com?subject=Referenced by WonderEight">Graphtec</a>,
                <a href="mailto:habib.e@eidpress.com?subject=Referenced by WonderEight">Eid Printing Press</a>,
                <a href="http://www.libanpack.org">Liban Pack</a>,
                <a href="http://www.elyamangroup.com">Yaman Group</a>,
                <a href="http://www.gemayelfreres.com">Gemayel</a> <br>

              A big part of the brand experience comes from the things you
              touch and see.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Animation</h5>
            <p>
              <a href="http://www.caustik.tv">Caustik</a>,
              <a href="http://12angrypixels.com">12 Angry Pixels</a> <br>

              Cutting-edge animation special effects and editing studios. Popcorn anyone?
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Events</h5>
            <p>
              <a href="http://www.si-livecom.com">Si Live</a>,
              <a href="http://www.talentsmanagement.com">Talents Management</a> <br>

              Bespoke events creation, management and activation.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Direct Marketing</h5>
            <p>
              <a href="http://www.directmarketingsa.com">DirectMarketing SA</a> <br>
              Interactive on-the-ground teams, for products activation and in-store promotion
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Online Marketing &amp; Social Media</h5>
            <p>

                <a href="http://www.eastlinemarketing.com">Eastline Marketing</a> <br>

              For a complete social media strategy, execution and community  maintenance.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Photography &amp; Food Styling</h5>
            <p>
              <a href="mailto: karim@wondereight.com?subject=Referenced by WonderEight">Karim AbouRizk</a>,
               <a href="http://www.cheframzi.com.lb">Chef Ramzi</a> <br>
              The perfect combination to guarantee mouth-watering photos on your menu.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Consulting &amp; Franchising</h5>
            <p>

                <a href="http://www.hodema.net/">Hodema</a>,
                <a href="http://www.ifranchisegroup.com">I-Franchise</a> <br>

              One of the best consulting companies in the region, servicing local and international markets.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Architects</h5>
            <p>

                <a href="http://www.gcharchitects.com">Georges Chidiac</a>,
                <a href="http://www.claudemissir.com">Claude Missir</a>,
                <a href="mailto:r.abufadil@de-workshop.com?subject=Referenced by WonderEight">Ramzi Aboufadel</a>,
                <a href="http://www.bachirnader.info">Bachir Nader</a> <br>

              We work closely with architects who have a wide experience
              in Hospitality.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Retail &amp; Shelving</h5>
            <p>

                <a href="http://www.assaf-kabbabe.com">Assaf &amp; Kabbabe</a> <br>

              Our consultants for Point-of-Sale marketing, shopping and traffic flow analysis.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Food &amp; Ingredients Supply</h5>
            <p>
              W8 has partnered with <a href="http://www.manyfood.com">Manyfood s.a.r.l.</a> to bring you best in food
              brands at the lowest prices, along with specialists to support your
              chef and his team during ingredients trials and recipes creation.
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Leadership Consultancy</h5>
            <p>

                <a href="mailto: derekw@mindful-leadership.co.uk?subject=Referenced by WonderEight">Derek Watson</a> <br>

              Mindful Leadership
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Technology Hub</h5>
            <p><a href="http://www.berytech.org">Berytech s.c.a.l</a></p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>W8 Workshop</h5>
            <p>
              We have our own studio, operated by craftsmen and designers
              to create your signature items, through Prototyping, Design
              &amp; Production!
            </p>
          </div>
        </li>
        <li class="box">
          <div>
            <h5>Signage</h5>
            <p>

                <a href="http://www.neonnational.com">NeonNational</a>,
                <a href="mailto:srouji_neon@hotmail.com?subject=Referenced by WonderEight">Bernard Srouji</a>,
                <a href="http://www.agev.com">Agev</a> <br>

              Our signage experts make sure your signage is exactly the way we designed it.
            </p>
          </div>
        </li>
      </ul>

      <hr id="second">
    </section>

    <section>
      <%= render "layouts/socials" %>
    </section>
  </div>


  <div class="col first">
    <section id="clients">
      <h2>LIST OF CLIENTS</h2>
      <p>Abi Najem Law Offices / Abou Sleiman Law / ACE Tools / ADSIC - Abu Dhabi / Adverto - Canada / Afkar PromoSeven - KSA / Africell - Gambia / Africell - Sierra Leone / AGEV / Aishti  / Ajlan Bros. - KSA / Al Ajami - Paris / Al Beik - KSA / Al Jazira TV / AL MATHAAQ - KSA / Al Mawaed / Al Romaizan - KSA / ALLEYCAT LLC
      Almaza Beer / Almozn Drilling - Libya / ALUCO  / Ameer Al Baher - Libya / ANC - KSA / Antoine Restaurant - Paris / Arab Printing Press / Architecure Au Liban / Atibaia Wine / Auracol - Holland / B to B / B, Creative Boutique / Baker &amp; More - Dubai / Barilla / BarterCard / Beirut Creative Cluster / Beirut Green Guide
      Beirut International Jazz Festival / Beirut Marathon Association / Beirut Street Kitchen - UK / Beiruting / BEL / Bellevue Medical Center / Berytech Fund / Berytech Technological Pole / Best Seller / Biomedic / Bjorg / Bkheir / BLC Bank / BLU Loyalty / BML Istisharat / Bnooki Finance / BO Concept / BOB's Easy Diner /
      BOECKER  / Bookmark / Born Interactive / Boubess Group / BPS / British American Tobacco / B-Synchro / Butterfleye / Byblos Restaurant - Canada / Cactimedia - Dubai / Café de Flore Paris / Café Diem /Cafiance Camperio - France / Caisse Mutuelle Laïque / Cash United  / Castania / Castania - Kuwait / CCI / Cedar Environmental / Century Communication / Certified Public Accountants / CertifyMe / Chain Digital Media - France / Chain Finance - China / Charisma TV / Chateau Musar / Chicken &amp; Cow  / CLAP Production / Classic Burger Joint / Clay Restaurant / Clemenceau Medical Center / Clinique Tivoli Hospital - France / Clos Du Chene  / Cluster Goods - USA / Co-Creando - Italy / Comtek  / Cool Five  / CORTAS / Cosmaline Industries  / COZMO Restaurant / Credys - France / Crepaway / CSC / CTServ / Cutting Edge / CyberPcs  / CyberRoards / DAK Country Club / DCSoft Intl. / DDAA / Debbane Group / Delb Country Club / Dents De Lait / Dermandar App / DIAGEO / Direct Marketing / Djinn House / DORITOS / DOT - USA / Drosh V - KSA / DUNLOP / Dynamics Advertising - KSA / Ebiz - Paris / EDS - Germany / Educart / Elefteriades Production / Element N Technologies  / Elias Haswani / Empire - USA / Enoteca / Entelligence / Estee / Ethos / Ets Michel Najjar  / Event Guru / Exotic Food / Falafel Abouelziz / Fattal / Fido Advertising / Fidus / Filmworks / FireHorse / Fluffy Cakes / Fondation Liban Cinema / FoodsCO / Four Kitchens Restaurant / French Bakery / Fringo Chips - USA / FRITOLAY / Frizzy  / From Nature - KSA / FTC Telecom / Full Stop - KSA / Future Builders / FVC Polycom / GCH Architects / Georges Khoury / Giscardo Mannequin / Graphtec Printing / Green plus / Grey Worldwide / Group 4 Securicore / Group Plus / GSM / Hakme Group Real estate / Hamburger Union - Kuwait / HAMM - Germany / Harbtek / HardRock Café / Heald Trading company  / HedgeHog / Heineken / Hiba Al Kawas / Hneine Entreprises Generales / Hodema / Hohenrainer / HOOVER / Hosman  / Hospitality Services  / House of Nuts  / Husny Bey Group - Libya / IAS Africa / ICE - UAE / ID perception / IDM / IDMI / IFC - Qatar / IFG Holding / IMC - Qatar / ImpactBBDO / Independent Productions / Industrial Kingdom - KSA / Info Pro  / Instabeat Goggles / Intel / Intermarkets / Invigo / i-Stream / ITC - Kuwait / Jaques Dessange / Jean Anid &amp; Fils / Jenny's Nursery / Joseph Khoury &amp; Co / Joseph's Shop 10 - Jamaica / Joyco / Kaiten Sushi / Khoury Home Appliances / Kiri Cheese / KrisKros Restaurant - Dubai / Kyphi / La Collina / Country Club / La Maison du Ski / La Piazza Restaurant / Le Commodore Hotel / Le Meridien Hotel / Le Notre - Qatar / Le Relais de l'Entrecôte / LEAD - Sarraf / Lebanon Creative Cluster / Leila Restaurant / Leo Burnett / LEO BURNETT - KSA / Les Creneaux Country Club / Les Opticiens Chamelian / LG Electronics / Libancell / Lifesyles / Light FM / Lilly - KSA / LINA's  Paris / Linkers Group / Little Kitchen - Paris / London Dairy / M&amp;C Distribution  / M. Nassif et fils  / Mad4Films - Canada / Made In Saudi Films / Magali Katra / Maghrabi / Magic Chef / Magnolia Restaurant / Mandarine Restaurant / Manyfood / Marrouch Restaurants  / MARS Co. / Massoud &amp; Partners / MAYTAG / Mazitout / M-Design Architect / Mecattaf Group / Mectapharm / Media Management Services  / MEDIA Plus / Mediapack / Mephico / Metaform X / Metropole Restaurant / Microsoft / Migrend - The Netherlands / Ministry of Food / Momentum - Bahrain / Monday Blues Band / Moneygram / Mowgli - UK / MSP / Multilane / Mymoune / Napoletana / Nasri Group / Nestlé / Netlink / Neuteck - USA / New Land for Youth / NexTech / Nowhereistan / NRJ / NTE / Oakley - Iraq / Ocean Spray / Offre Joie NGO / Onlivery / Optical City / ORCA Architects / Origami Restaurant / Outwalk / P&amp;G Levant / Pain D'or / Panasonic / Panda Cola - COTE D'IVOIRE / Panjan - KSA / PATCHI / Path Solutions / Paul De Vartens / Pépite Fashion / PEPSI / PewPew / Pharmacie Le Gabriel / Phoenician Traders - Caribbean / Picon Cheese / Pinacle - Dubai / Pomme S / Pomodoro Pizzeria / Poppins Cereals / Powernetwork TV / Premier Marathons - UAE / PrintPack / Printworks / Procter and Gamble / PS Lab / Quadron - Libya / Radio one / Randa Noujeim / Ray Ban / Red Bull / Red Cell / RedStripe Beer / Rio Grande / Riviere Santé / Rocket Restaurant / Rogers Diner - Qatar / Rotana TV / Rotiboy - Qatar / Royal Coast Tuna  / Saatchi &amp; Saatchi / Sabine Kassouf / Sacotel / Saifi Gardens Real estate / Salus Consulting / Sam Pepper - France / Sanita / Saudi Snack Foods co. / Scame Elec. / School of the Blind and Deaf / Scoozi Restaurant / Sealco - Jordan / Seedbound- USA / Selim Mouzanar Jewelry SHAAMS Europe / Sheesh Restaurant / Shikyou Cosmetics - Switzerland / Signature Productions / SMSend / SofraDaymeh / SoftMind / Solano / SONY / Spirit Advertising / S-Signature / Star Events / Stingy Campus - USA / Stones and Right / Studio Vision / Super Brasil Coffee / Sushi Bento / SyncMax / Syndicat des Propriétaires de Garderies / TAANAYEL Dairy / Tadawul - Switzerland / Talents Management / Tallet Nasr Restaurant / Team Young &amp; Rubicam / Team Lebanon / Technotex / Teletrade CS / The BB Fund / The Great Entertainment / The Green - London / The MET / THE One / The Peninnsula Group / The Talkies / The Wedding Co. / Ting - Jamaica / Tinol Paints / TipTop Accessories / Tomatomatic / Top Stone -KSA / Touch Production / Trend / Twentyfive03 Ad Agency / Twice Daily - Paris / UCCM / K Med LLC / Un coeur pour Philippe / Uptown 966 - KSA / USC - Paris / Venus Transet / Vision Entertainment / Vogele - Germany / Wellmark - Dubai / Whirlpool - Europe / Wirtgen - Germany / Wok Box - Canada / WonderBerry / Wood Factory / World News MP3 / X-Stream Productions / YCR Real-estate - Qatar / Yoforia Frozen Yogurt - USA / Zain Telecom - KSA / Zakhour Link House / ZAYAT - UAE / ZEN Cigars - Jamaica / Zero Scratch - KSA
      </p>
    </section>
  </div>

  <div class="clear"></div>
</section>
