<header class="main">
    <div id="logo">
      <%= link_to image_tag('wondereight-logo.gif', alt: 'Wondereight Logo'), '#' %>
    </div>
    <nav id="socials">
      <ul>
        <%=
          link_to image_tag("icons/facebook.png", alt: 'facebook'), "http://www.facebook.com/pages/WonderEight-, target: '_blank'Brand-Design-Animation-Interactive/112933422105082?fref=ts"
        %>
        <%=
          link_to image_tag("icons/behance.png", alt: 'Behance'), "http://www.behance.net/WonderEight", target: '_blank'
        %>
        <%=
          link_to image_tag("icons/twitter.png", alt: 'Twitter'), "https://twitter.com/Wonder_Eight", target: '_blank'
        %>
        <%=
          link_to image_tag("icons/linkedin.png", alt: 'Linkedin'), 'http://www.linkedin.com/company/1681614?goback=%2Efcs_GLHD_wondereight_false_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&trk=ncsrch_hits', target: '_blank'
        %>
        <%=
          link_to image_tag("icons/pinterest.png", alt: 'Pinterest'), "http://pinterest.com/wondereight/", target: '_blank'
        %>
        <%=
          link_to image_tag("icons/instagram.png", alt: 'Instagram'), "http://instagram.com/wondereight", target: '_blank'
        %>
        <%=
          link_to image_tag("icons/contact-us.png", alt: 'contact'), "mailto:info@wondereight.com", target: '_blank'
        %>
      </ul>
    </nav>
    <nav id="menu">
      <ul>
        <li class="selected">
          <%= link_to "work", "#" %>
          <ul class="sub works-filters">
            <li><a href="index.php?cat=branding">Branding</a></li>
            <li><a href="index.php?cat=website">Websites</a></li>
            <li><a href="index.php?cat=restaurants">Restaurants</a></li>
            <li><a href="index.php?cat=illustration">Illustration</a></li>
          </ul>
        </li>
        <li><a href="about.php">About W8</a></li>
        <li><a href="#">Showcases</a>
          <ul class="sub">
            <li><a href="showcase/branding/W8_Branding_Showcase.pdf" target="_blank">Branding.pdf</a></li>
            <li><a href="showcase/websites/W8_Web_Showcase.pdf" target="_blank">Websites.pdf</a></li>
            <li><a href="showcase/restaurants/W8_Restaurant_Showcase.pdf" target="_blank">Restaurants.pdf</a></li>
            <li><a href="showcase/illustrations/W8_Illustration_Showcase.pdf" target="_blank">Illustration.pdf</a></li>
            <li><a href="showcase/packaging/W8_Packaging_Showcase.pdf" target="_blank">Packaging.pdf</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <nav id="menu2">
      <ul>
        <li class="label"><a href="#">Navigation</a></li>
        <li><a href="index.php">Work</a></li>
        <li><a href="about.php">About W8</a></li>
        <li><a href="#">Showcases</a>
          <ul class="sub">
            <li><a href="showcase/branding/W8_Branding_Showcase.pdf" target="_blank">Branding.pdf</a></li>
            <li><a href="showcase/websites/W8_Web_Showcase.pdf" target="_blank">Websites.pdf</a></li>
            <li><a href="showcase/restaurants/W8_Restaurant_Showcase.pdf" target="_blank">Restaurants.pdf</a></li>
            <li><a href="showcase/packaging/W8_Packaging_Showcase.pdf" target="_blank">Illustration.pdf</a></li>
            <li><a href="showcase/packaging/W8_Packaging_Showcase.pdf" target="_blank">Packaging.pdf</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="clear"></div>
  </header>
