
<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="/Favicon.png">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <meta name="description" content="<%= yield(:summary) %>">

  <meta property="og:title" content="<%= yield(:title) %>" />
  <meta property="og:type" content="Company" />
  <meta property="og:url" content="<%= request.protocol+request.host_with_port+request.fullpath %>" />
  <meta property="og:image" content="<%= request.protocol+request.host_with_port+image_path(yield(:image)) %>" />
  <meta property="og:site_name" content="Wonder Eight" />
  <meta property="fb:admins" content="112933422105082" />
  <meta property="og:description" content="<%= yield(:summary) %>"/>

  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style>
    body{ margin:100px; }
    article, aside, figure, footer, header, hgroup, menu, nav, section{
      display: block;
    }
  </style>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6774354-4']);
    _gaq.push(['_setDomainName', 'wondereight.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>

<body>
  <%= render 'layouts/header' %>

  <%= yield %>

  <%= render 'layouts/footer' %>
</body>

</html>
